<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Online Shop</title>

</head>
<body>
<h2>Регистрация</h2>
<form action="/register" method="post">
    Имя пользователя: <input type="username" name ="username"> <br><br>
    Email: <input type="email" name ="email"> <br><br>
    Пароль: <input type="password" name="password"> <br><br>
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Зарегистрироваться"/>
</form>
</body>
</html>